@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.Error_Body {
  text-align: center;
  color: white;
  /* color: white; */
}
.Error_Head {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
.Triggers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 0vh;
}
.Home_link {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Test_button {
  color: white;
  background-color: rgb(74, 2, 74);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.Link_404 {
  color: white;
  text-decoration: none;
  background-color: rgb(74, 2, 74);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.ErrorPage-background {
  background-color: black;
}
.ErrorImg {
  margin-top: -80px;
}
.Test_button {
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 20px;
  background-color: rgba(101, 0, 101, 0.988);
}
.Link_404 {
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 20px;
  background-color: rgba(101, 0, 101, 0.988);
}
.Test_button:hover,
.Link_404:hover {
  background-color: rgba(78, 0, 78, 0.988);
}
.Back {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 20px;
}
.ViewError {
  color: white;
}
.Back:hover {
  text-decoration: underline;
}
